.footer {
    height: 1.75rem;
    background-color: #273042;
    position: relative;

    p {
        position: absolute;
        bottom: 0;
        right: 0;
        text-align: right;
        color: white;
        margin: 0 2rem;
    }
}